@font-face {
  font-family: 'Bagnard'; 
  src: 
    url('/css/fonts/Bagnard.otf'),
    url('/css/fonts/bagnard-webfont.woff') format('woff'), /* Modern Browsers */
    url('/css/fonts/bagnard-webfont.woff2')  format('truetype'); /* Safari, Android, iOS */
}

/* this animates the transitions between theme classnames */
.themed {
  transition-property: color, background-color;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}
.themed footer a {
  transition-property: color;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}
.themed #content {
  transition-property: color;
  transition-duration: 2;
  transition-timing-function: ease-out;
}
/* default theme */
.theme-a {
  background-color: #220C39;
}
.theme-a #content a {
  /*nothing here yet*/
}
.theme-a footer a {
  color:#A9CF82;;
}
.theme-a #header-name {
  color:#7DC4F2; 
}
.theme-a #content {
  color: #BFA3E2;
}

/*theme-b*/
.theme-b {
  background-color: #99b41f;
}
.theme-b #content a {
  /*nothing here yet*/
}
.theme-b footer a {
  color:#1b3304;;
}
.theme-b #header-name {
  color:#00358a; 
}
.theme-b #content {
  color: #FFFBC7;
}

/*theme-c*/
.theme-c {
  background-color: #F6D55E;
}
.theme-c #content a {
  /*nothing here yet*/
}
.theme-c footer a {
  color:#A00B0B;;
}
.theme-c #header-name {
  color:#e01c6e; 
}
.theme-c #content {
  color: #4A2B25;
}

html, body {
    height: 100vh;
}

body, nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: 'Bagnard', sans-serif;
    text-decoration: none;

}

a {
  outline-color: transparent;
}

a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:focus {

  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #666;
  
}

a:active {
text-decoration: none;
  color: #222;
}

.content {
    margin: 0 auto;
    margin-top: -0.125em;
    display: flex;
    flex-direction: column;
    max-width: 500px
}

.name {
    text-transform: uppercase;
    display: flex;
    font-size: 2.5em; 
}

.name > span {
    display: block;
    margin: 0 .5em;
}
.name > span:nth-child(1){
    margin-top: 3em;
}
.name > span:nth-child(2){
    margin-top: 2em;
}
.name > span:nth-child(3){
    margin-top: 1.5em;
}
.name > span:nth-child(4){
    margin-top: .8em;
}
.name > span:nth-child(5){
    margin-top: 1em;
}
.name > span:nth-child(6){
    margin-top: 2.2em;
}
.name > span:nth-child(7){
    margin-top: 3em;
}
.name > span:nth-child(8){
    margin-top: 5em;
}

.tilted-copy {
    align-self: end;
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    transform: rotate(9deg);
    font-size: 1.2em;
}

.tilted-copy > p{
line-height: 0;
margin-bottom: 0;

}

footer {
    margin-top: 10em;
}

footer {
  margin-top: 10em;
}

footer > nav {
  margin: 0;
}

footer > nav > ul {
  display: flex;
  list-style: none;
  padding-left: 1em;
  justify-content: center;
}

footer > nav > ul > li {
  margin: 0 1.25em;
  font-size: 1em;
  text-decoration: none;
  text-transform: lowercase;
}